<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

    <select id="selectOne"
            parameterType="kr.re.kh.vo.MemberVO"
            resultType="kr.re.kh.vo.MemberVO">
        SELECT
        USERNAME
        , NAME
        , CREATED_AT
        , EMAIL
        , UPDATED_AT
        FROM USERS
        WHERE USERNAME = #{userID}
        AND PASSWORD = STANDARD_HASH(#{password}, 'SHA256')
    </select>

    <select id="selectList"
            parameterType="kr.re.kh.vo.MemberVO"
            resultType="kr.re.kh.vo.MemberVO">
        SELECT * FROM USERS ORDER BY USERNAME
    </select>

    <select id="checkUserID" parameterType="String" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM USERS
        WHERE USERNAME = #{userID}
    </select>

    <select id="checkEmail" parameterType="String" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM USERS
        WHERE EMAIL = #{email}
            AND IS_ACTIVE = 1
    </select>

    <insert id="insert"
            parameterType="kr.re.kh.vo.MemberVO">
        INSERT INTO USERS (
        USERNAME
        , PASSWORD
        , NAME
        , EMAIL
        , CREATED_AT
        , UPDATED_AT
        , IS_ACTIVE
        , IS_EMAIL_VERIFIED
        ) VALUES (
        #{userID}
        , STANDARD_HASH(#{password}, 'SHA256')
        , #{username}
        , #{email}
        , sysdate
        , sysdate
        , 1
        , 1
        )
    </insert>

    <select id="findID" parameterType="String" resultType="String">
        SELECT
        SUBSTR(USERNAME, 1, 2) || LPAD('*', LENGTH(USERNAME) - 2, '*') AS USERNAME
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="findPW" parameterType="String" resultType="Long">
        SELECT USER_ID FROM USERS
        WHERE EMAIL = #{email} AND USERNAME = #{userID}
    </select>

    <update id="updatePW" parameterType="kr.re.kh.vo.MemberVO">
        UPDATE USERS SET
        PASSWORD = #{password}
        WHERE USER_ID = #{idx}
    </update>

    <select id="selectUser"
            parameterType="String"
            resultType="Long">
        SELECT
        USER_ID
        FROM USERS
        WHERE USERNAME = #{userID}
    </select>

    <select id="findUser" parameterType="kr.re.kh.vo.MemberVO" resultType="Long">
        SELECT USER_ID FROM USERS
        WHERE USERNAME = #{userID}
    </select>

    <update id="updateInfo" parameterType="kr.re.kh.vo.MemberVO">
        UPDATE USERS
        SET EMAIL = #{email}
            , PASSWORD = #{password}
        WHERE USER_ID = #{idx}
    </update>

    <update id="withdraw" parameterType="Long">
        UPDATE USERS
        SET IS_ACTIVE = 0
        WHERE USER_ID = #{idx}
    </update>
</mapper>